.tablecell {
  &__icons {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  &__input {
    font-size: 0.72vw !important;
  }
  &__icons div {
    padding: 0 !important;
  }
}
